body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('imagen-fondo.jpg') center no-repeat;
    background-size: 1890px 990px;
    font-family: Arial, sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: center;
}

